In [ ]:
#Problema 1: Encontrar la Multiplicación de 2 números.

In [ ]:
2 * 3 # Multiplication

[1] 6

In [ ]:
#Problema 2: Encontrar la Sustracción de 2 números.

In [ ]:
4 - 1 # Subtraction

[1] 3

In [ ]:
#Problema 3: Sumar 2 al número dado.

In [ ]:
a <- 1 # type: ignore # Assigning 1 to the variable called "a"
a + 2 # type: ignore # Adding 2

[1] 3

In [ ]:
#Problema 4: Crear un marco de datos

In [ ]:
df = data.frame(Emp_Name = c("Jai", "David", "Michael"), # type: ignore
Job_role = c("Manager", "Team Lead", "Developer" ) # type: ignore
)
print(df)

  Emp_Name  Job_role
1      Jai   Manager
2    David Team Lead
3  Michael Developer